@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  color: #ffff;
  scroll-behavior: smooth;
}
.rfm-marquee,
.rfm-marquee-container,
.rfm-initial-child-container {
  display: flex;
  gap: 3.25rem;
}
.swiper-pagination {
  position: static !important;
  padding-top: 40px;
}
.swiper-pagination-bullet {
  background-color: #ffffff !important;
}

@layer components {
  .wrapper {
    @apply mx-auto my-0 max-w-7xl p-2.5 sm:p-5;
  }

  .font {
    @apply font-medium text-white;
  }
}
