@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffff;
}
.rfm-marquee,
.rfm-marquee-container,
.rfm-initial-child-container {
  display: flex;
  gap: 3.25rem;
}
.swiper-pagination {
  position: static !important;
  padding-top: 40px;
}
.swiper-pagination-bullet {
  background-color: #ff00ea !important;
}

@layer components {
  .wrapper {
    @apply mx-auto my-0 max-w-6xl lg:max-w-7xl p-4;
  }

  .font {
    @apply font-medium text-white;
  }
}
